<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/style.css">
    <title>Cole-Garvey</title>
</head>
<body>
    
  <nav id="navbar" class="navbar navbar-expand-sm bg-secondary shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="../">Home</a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="" alt=""></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./hobbies">Hobbies</a>
              </li>
              
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./projects">Projects</a>
              </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./resume">Resume</a>
              </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

    <div id="hobbies" class="container bucket-g">
      <!-- eventually  turn images in the cards into carousels -->

      <div class="card border-light text-bg-light mb-3" style="max-width: 25rem; margin: 3%;">
        <img style="width: 100%;" src="../resources/img/ultra2.jpg" alt="">
        <h2 class="card-header">Coding</h2>
        <p class="card-text">I love to code and make something through programming languages, i think its awesome.  I want to evolve my knowledge and skill to be a programmer.</p>
    </div>

      <div class="card border-light text-bg-light mb-3" style="max-width: 25rem; margin: 3%;">
          <img style="width: 100%;" src="../resources/img/ultra2.jpg" alt="">
          <h2 class="card-header">Working Out</h2>
          <p class="card-text">One of the best things in life is working out and staying healthy.  Its not only one of the best things for you physically but also mentally.</p>
    </div>

      <div class="card border-light text-bg-light mb-3" style="max-width: 25rem; margin: 3%;">
        <img style="width: 100%;" src="../resources/img/ultra2.jpg" alt="">
        <h2 class="card-header">Spartan Races</h2>
        <p class="card-text">Races are an awesome way to be active and have a great time completing obstacles and earning a finisher shirt and medal.</p>
    </div>

      <div class="card border-light text-bg-light mb-3" style="max-width: 25rem; margin: 3%;">
        <img style="width: 100%;" src="../resources/img/ultra2.jpg" alt="">
        <h2 class="card-header">Traveling</h2>
        <p class="card-text">When possible I like to travel and take in the sights this world has to offer.  There is so much to see and not enough time to see it all.</p>
    </div>
      
      <div class="card border-light text-bg-light mb-3" style="max-width: 25rem; margin: 3%;">
        <img style="width: 100%;" src="../resources/img/ultra2.jpg" alt="">
        <h2 class="card-header">Video Games</h2>
        <p class="card-text">A great way to relax and spend some time on your nights staying in is to wind down and play some good ol fortnite.</p>
    </div>

    </div>

    <div class="container-fluid bg-secondary-subtle ">
      <footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Cole Garvey </span>
        </div>
    
        <ul class="nav col-md-4 list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://github.com/colegarvey"><img src="../resources/svg/github.svg" alt=""></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/cole-garvey-823333210"><img src="../resources/svg/linkedin.svg" alt=""></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/_colerdg"><img src="../resources/svg/instagram.svg" alt=""></a></li>
        </ul>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>