<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="../resources/css/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <title>Resume Page</title>
    <style>
        
    </style>
</head>
<body>
    <div class="" style="float: right; margin-right: 10%;">
        <a href="./home.html">Home</a>
    </div>
    <div id="resume" class="container">
        <table>
            <thead>
                <h5>Cole R. Garvey</h5>
                
            </thead>
            <tbody>
                <tr>
                    <th>EDUCATION</th> <th>CGPA</th> <th>Year</th>
                </tr>
                <tr>
                    <td>Bachelors Degree in Computer Science</td> <td>3.102</td> <td>Fall 2021 - Present</td>
                </tr>

                <tr>
                    <th>EXPERIENCE</th> <th>Year</th>
                </tr>
                <tr> <td>Data Structures
                    <p class="r-e-description">Studied data abstractions and their representation techniques.  
                        (e.g. stacks, queues, lists, trees, graphs, heaps, hash tables, priority queues)
                    </p>
                </td> <td>Spring 2023</td></tr>
                <tr> <td>Software Development Methods and Tools
                    <p class="r-e-description">Learned the tools and techniques for successful software development with a strong focus on best 
                        practices used in industry.  Learned front-end design and construction using HTML/CSS, back-end database 
                        design and construction, and full-stack integration.  Gained exposure to web services, distributed version control, 
                        requirements definition, automated integration testing, and cloud-based application deployment.</p>
                </td> <td>Spring 2024</td></tr>
                <tr> <td>Algorithms
                    <p class="r-e-description">Learned the fundamentals of algorithms and various algorithmic strategies, including time 
                        and space complexity, sorting algorithms, recurrence relations, divide and conquer algorithms,
                        greedy algorithms, dynamic programming, linear programming, graph algorithms, problems in P and NP,
                        and approximation algorithms.</p>
                </td> <td>Spring 2024</td></tr>

                <tr>
                    <th>VOLUNTEER EXPERIENCE</th> <th>Year</th>
                </tr>
                
            </tbody>
            
        </table>

    </div>



    <script type="text/javascript" src="../resources/css/materialize/js/materialize.min.js"></script>
</body>
</html>